body {
    font-family: Arial, sans-serif;
    margin: 10px;
    font-size: 14px;
}

h1 {
    font-size: 25px;
    margin-bottom: 18px;
}

input {
    width: 100px;
    height: 18px;
}

button {
    margin-top: 5px;
    font-size: 12px;
    padding: 2px 7px;
}

fieldset {
    margin-top: 20px;
    min-height: 130px;
}

#numberList {
    width: 100%;
}

.number-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
}

.number {
    width: 30px;
}

.odd {
    color: blue;
    width: 45px;
}

.even {
    color: green;
    width: 45px;
}

.result {
    margin-top: 8px;
    line-height: 24px;
}

.result b {
    margin-right: 15px;
}

label {
    margin-right: 5px;
}